.alignment{
    text-align: center;
}
.hrline{
    text-align: center;
    position: relative;
    color: #6b6b6b;
    left: 36px;
    width:  94.4%;
    margin-top: 2px;
}
.selected{
    width: 100%;
    height: 4px;
    background-color: #E82352;
    left: 36px;
    position: relative;
}
.content-post{
    margin-left: 18px;
    margin-top: 50px;
}
.content-post:last-child{
    margin-bottom: 50px;
}
.alignment .row .col-6:first-child img{
    padding-left:45px;
}
