@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.App {
  background-color: #151217;
  font-family: 'Poppins', sans-serif;
}
.logoButton{
  background-color: transparent;
  border: none;
  position: absolute;
  right: 14px;
  top: 16px;
}
.logoButton img{
  height: 30px;
  width: 30px;
}


